*.App
*.[oadi]
*.ass
*.avi
*.bz2
*.cache
*.dep
*.db
*.dll
*.dmg
*.exe
*.gch
*.gz
*.idb
*.ilk
*.log
!/tests/fixtures/keyframe/*.log
*.manifest
!src/dpi_aware.manifest
*.mkv
*.mo
*.ncb
*.ndjson
*.obj
*.opensdf
*.orig
*.pch
*.pdb
*.profdata
*.profraw
*.sdf
*.so
*.srt
*.suo
*.swp
*.ts
*.user
*.vsp
*.y4m
*.zip
*.7z
*~

**/bin/
**/obj/
/data
/artifacts
/include
/ipch
/lib
/tests/data
/benchmarks
/build-*
/build/*.bat
/CMakeUserPresets.json

.lvimrc
.syntastic_cpp_config
BuildLog.htm
automation/aegisub-lua
conf.sh
config_windows.h
git_version.h
src/aegisub
src/libresrc/bitmap.cpp
src/libresrc/bitmap.h
src/libresrc/default_config.cpp
src/libresrc/default_config.h
src/libresrc/default_config_platform.json
svn-revision.h
svn_revision
vendor/fribidi
vendor/luajit/src/host/buildvm
vendor/luajit/src/host/minilua
vendor/luajit/src/jit/vmdef.lua
vendor/luajit/src/gen
vendor/luajit/src/lj_vm.s
vendor/luajit/src/luajit

**/.*/*
!.git/*
